<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd">
<mapper namespace="ices.fashion.mapper.recommendation.TBaseMaterialCategoryMapper">
    <resultMap id="BaseResultMap" type="ices.fashion.entity.recommendation.TBaseMaterialCategory">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="img_url" property="imgUrl" jdbcType="VARCHAR"/>
        <result column="category_name" property="categoryName" jdbcType="VARCHAR"/>
        <result column="rec_category" property="recCategory" jdbcType="VARCHAR"/>
        <result column="description" property="description" jdbcType="VARCHAR"/>
        <result column="status" property="status" jdbcType="INTEGER"/>
    </resultMap>
    <select id="selectAllCategories" resultMap="BaseResultMap">
        SELECT
        id, img_url, category_name, description, rec_category
        FROM t_base_material_category
        <where>
            <choose>
                <when test="status != null">
                    `status` = #{status}
                </when>
                <otherwise>
                    `status` = 1
                </otherwise>
            </choose>
        </where>
    </select>
    <select id="selectCategoryByIds" resultMap="BaseResultMap">
        SELECT
        id, img_url, category_name, description, rec_category
        FROM t_base_material_category
        <where>
            <if test="status != null">
                `status` = #{status}
            </if>
            <if test="ids.size() > 0">
                AND `id` IN
                <foreach collection="ids" item="idItem" open="(" separator="," close=")">
                    #{idItem}
                </foreach>
            </if>
            <if test="ids.size() == 0">
                AND 1=0
            </if>
        </where>
    </select>
    <update id="deleteCategories">
        UPDATE t_base_material_category SET `status` = 0 WHERE id IN
        <foreach collection="ids" item="idItem" open="(" separator="," close=")">
            #{idItem}
        </foreach>
    </update>
    <update id="recoverCategories">
        UPDATE t_base_material_category SET `status` = 1 WHERE id IN
        <foreach collection="ids" item="idItem" open="(" separator="," close=")">
            #{idItem}
        </foreach>
    </update>
</mapper>